@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

body{
    margin: 0px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2306F9FF'/%3E%3Cstop offset='1' stop-color='%23FF4C0C'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2320FF14'/%3E%3Cstop offset='1' stop-color='%23D71AFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-54.25 12.4) rotate(7.75 1409 581) scale(1.031)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-31 31) rotate(9.3 800 450) scale(1.016)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(27.9 -93) rotate(93 401 736) scale(1.016)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(186 -12.4) rotate(3.1 150 345) scale(0.969)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-124 -77.5) rotate(111.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-186 62) rotate(18.6 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    width: 90%;
    min-height: 80vh;
    background: linear-gradient(to right bottom, #e3eeec, #f7fdfda6);
    border-radius: 12px;
}
.navStyle{
    /* background: #d9fdf5; */
    background: linear-gradient(to right bottom, #e3eeec, #f7fdfda6);
    border-radius: 1rem;
    transition-delay: 0.6s;
    transition-duration: 0.8s;
    margin-top: 1.2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 1.6rem;
}
.navStyle:hover{
    transform: scale(1);filter: drop-shadow(2px 3px 3px #e0e6e5);
}

.navTitle{
    font-size: 1.4rem;
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Title:hover, .Title:focus{
    animation: pulse;
    animation-duration: 1s;
}
.link_nav{
    font-size: 1.2rem;
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.hover_animation_underline {
    display: inline-block;
    position: relative;
    color: royalblue;
}
.hover_animation_underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: royalblue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover_animation_underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#nav_btn {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

#nav_btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#nav_btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#nav_btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

#nav_btn:hover svg {
    transform: translateX(0.1em) rotate(45deg) scale(1.1);
}

#nav_btn:hover span {
    transform: translateX(2em);
}

#nav_btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
    transform: translateY(0.1em);
    }

    to {
    transform: translateY(-0.1em);
    }
}
.link{
    font-size: 1rem;
    opacity: 0.9;
}
.short_link{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(13, 54, 235);
}
.text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}
.text_start{
    padding-left: 1.4rem;
}
.link{
    font-size: 1.2rem;
    opacity: 0.9;
    color: #250ef0;
    text-decoration: none;
    transition-delay: 0.6s;
    transition-duration: 0.8s;
}
.link:hover{
    color: rgb(139, 9, 214);
    opacity: 1;
}
.code_div{
    background: linear-gradient(to right top, rgb(24, 23, 23), rgba(29, 29, 29, 0.911));
    padding: 5px;
    border-radius: 2rem;
}
.code{
    color: rgb(248, 238, 238);
    font-size: 1.2rem;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}
.CodeMirror * {
    color: rgb(248, 238, 238);
    font-size: 1rem;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}
.tools_img{
    padding-right: 1rem;
    width: 48px;
    height: 48px;
}
.middle_text{
    text-align: center;
}
.just_link{
    text-decoration: none;
    color: #17C3B2;
    transition-delay: 0.1s;
    transition-duration: 1s;
}
.just_link:hover{
    color: #111;
}
.btn_link{
    text-decoration: none;
    color: rgb(20, 19, 19);
    display: block;
    transition-delay: 0.2s;
    transition-duration: 1s;
}
.btn_link:hover{
    color: rgb(228, 216, 216);
}
.social_link{
    text-decoration: none;
    color: rgb(235, 226, 226);
}
.social_link:hover{
    color: rgb(235, 226, 226);
}
@media (max-width: 2400px) {
    .mobile_show_case_div{
        display: none;
    }
}
@media (max-width: 767px) {
    body {
        margin-top: 40px;
        margin-left: 32px;
        margin-right: 16px;
    }
    .bounce{
        width: 18rem;
    }
}
@media (max-width: 544px) {
    body {
        margin-top: 40px;
        margin-left: 32px;
        margin-right: 16px;
    }
    .bounce{
        width: 18rem;
    }
    #tools_div{
        display: block;
        padding: 12px;
    }
    .show_case_div{
        display: none;
    }
    .mobile_show_case_div{
        display: block;
    }
}
.show_case_div{
    background: linear-gradient(to right top, rgba(37, 36, 36, 0.918),rgba(32, 31, 31, 0.863));
    width: 60%;
    min-height: 30vh;
    padding: 3%;
    border-radius: 12px;
}
#tools_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile_show_case_div{
    background: linear-gradient(to right top, rgba(37, 36, 36, 0.918),rgba(32, 31, 31, 0.863));
    width: 90%;
    min-height: 30vh;
    border-radius: 12px;
}
.mobile_show_case_div span{
    font-size: 18px;
}
#mobile_tools_div{
    display: flex;
    justify-content: center;
}
.icon_svg{
    width: 1.6rem;
}
#mobile_tools{
    padding: 0.2rem;
}
#tools{
    padding-left: 12px;
}
.svg{
    width: 2.4rem;
}
.social_div{
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
}