h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    padding-left: 5%;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.text_div{
    padding-left: 5%;
    padding-right: 5%;
}

img{
    width: 20%;
}

.skills_div{
    padding: 5%;
    padding-top: 0px;
    margin-bottom: 2%;
}

.technologies_div{
    padding: 3%;
    background-color: #f0f0f0;
}

li{
    font-size: 1.4rem;
    list-style: none;
    letter-spacing: 2px;
}

a{
    font-family: 'Courier New', Courier, monospace;
}

.social_btn{
    padding: 12px;
}

footer{
    background-color: #f0f0f0;
    color: #090a0a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4rem;
    text-align: center;
}